nav {
  background-color: var(--black);
}
#bc-banner {
  background: url(../img/image00009\ copy.jpg);
  background-position: center;
}

#contact-form input,
#contact-form textarea {
  border: 1px solid #c6c6c6;
  color: var(--white);
}
#h2-contact {
  letter-spacing: 0.2em;
}

#c-mi-wrapper {
  /* background: url(../img/insta/399742377_17886629372950503_1225823373204815677_n.jpg); */
}
#c-mi-wrapper :first-child {
  max-width: 500px;
}
#c-mi-wrapper :nth-child(2) {
  max-width: 300px;
  width: 100%;
  height: auto;
  top: 199px;
  left: 249px;
}

/* #c-mi-wrapper :first-child {
  min-width: 95%;
  max-width: 436px;
} */

@media (max-width: 1200px) {
  #c-mi-wrapper :first-child {
    max-width: 90%;
  }

  #c-mi-wrapper :nth-child(2) {
    top: 0;
    left: 0;
  }
  #contact-pg-wrapper .col:first-child {
    height: 43em;
  }
}
