:root {
  --light-grey: #e6e8ea;
  --grey: #949494;
  --black: #000;
  --hightlight: #e7d9d5;
  --hightlight-secondary: #f5efeb;
  --white: #fff;

  /* --primiary:;
  --secondary:;
  --tertiary:; */
}

body {
  font-family: museo-sans, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.section-title {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 700;
}

.navbar-brand img {
  height: 75px;
}

.section-title {
  letter-spacing: 2px;
  color: black;
  font-size: 0.9rem;
  text-transform: uppercase;
}
/* .post_date {
  color: #8F9092;
} */

.post_date i {
  font-size: 3px;
}

.fs-7 {
  font-size: 0.85rem;
}

.swiper {
  padding-bottom: 100px !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 88% !important;
}

#brand-footer {
  height: 100px;
}
.quotes h5 + p {
  max-width: 56ch;
}

/* .insta-trigger:hover .xyz  {
  display: block !important;
  background: red;
}
.insta-trigger:hover .insta-trigger > span {
  display: block;
  background-color: red !important;
}

.insta-trigger span {
  display: none;
} */

/* .instagram-posts .row > col img + div {
  display: none;
} */

.insta-trigger span {
  background: rgba(0, 0, 0, 0.4);
}

.insta-trigger::before,
.insta-trigger::after {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  /* transition: opacity 0.5s, transform 0.5s; */
  transition: all 5s ease-in-out;
  z-index: 9999;
  /* border-top: 2px solid #fff; */
}

.overflow-hidden:hover .insta-trigger::before {
  opacity: 1 !important;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  background-color: red;
}

.btn-main {
  background-color: var(--hightlight);
  color: var(--black) !important;
}
.btn-main:hover {
  background-color: var(--hightlight-secondary);
}
#latest-blog .swiper-slide .stretched-link {
  height: 230px;
  object-fit: cover;
}
#latest-blog .swiper-slide .stretched-link-img {
  transition: all 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
#latest-blog .stretched-link:hover .stretched-link-img {
  transform: scale(1.06);
}

.card-img-overlay {
  display: none;
  visibility: hidden;
}

#instagram-feed a:hover .card-img-overlay {
  visibility: visible;
  display: block;
}
#instagram-feed a:hover .card-img-overlay::after {
  border-top: 1px solid white;
}

.quotes {
  /* background-color: var(--hightlight); */
  background-color: var(--hightlight-secondary);
}

.swiper-pagination-bullet-active {
  color: #F14105 !important;
  background-color: #F14105 !important;
}
#quote-designation {
  font-size: 14px;
}